{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="row ">
        <div class="caroussel">
            <img id="1" class="image cadre" src="{{ asset("image/1.jpg") }}" alt="Choco">
            <img id="2" class="image cadre" src="{{ asset("image/2.jpg") }}" alt="Choco">
            <img id="3" class="image cadre" src="{{ asset("image/3.png") }}" alt="Choco">
            <img id="4" class="image cadre" src="{{ asset("image/4.jpg") }}" alt="Choco">
        </div>
    </div>

{% endblock %}


